@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}
<!-- Link to the external CSS file -->
<link rel="stylesheet" href="~/css/style.css">

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th class="custom-th">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="custom-th hide-mobile">
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th class="custom-th">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="custom-th" style="display: none">
            @Html.DisplayNameFor(model => model.RowVersion)
        </th>
        <th class="custom-th">
            @Html.DisplayNameFor(model => model.Administrator)
        </th>
        <th class="custom-th"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="hide-mobile">
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
            </td>
        </tr>
    }
</table>
